.my-orders {
  margin: 50px 0;
  padding: 0 190px;
  min-height: 50vh;
}

.my-orders .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.my-orders-order {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  padding: 10px 20px;
  color: #454545;
  border: 1px solid #adf1b5;
  border-radius: 5px;
}

.my-orders-order img {
  width: 50px;
}

.my-orders-order p span {
  color: #078b17;
  animation: flash 2s infinite;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.my-orders-order p b {
  color: #454545;
  font-weight: 600;
}

.my-orders-order button {
  padding: 12px 4px;
  border: none;
  background-color: #078b17;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.my-orders-order button:hover {
  background-color: #075b0d;
}

.produtos {
  max-height: 40px;
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
}

.produtos.expandido {
  max-height: none;
}

.ver-mais {
  font-size: 12px;
  color: #078b17;
  cursor: pointer;
  margin-top: 5px;
  display: inline-block;
}

.skeleton {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-img {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 4px;
}

.skeleton-text-line {
  height: 16px;
  background-color: #ddd;
  border-radius: 4px;
  margin: 5px 0;
}

.skeleton-text-line.short {
  width: 50%;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .my-orders-order {
    grid-template-columns: 1fr 2fr 2fr;
    row-gap: 5px;
    font-size: 12px;
  }

  .my-orders-order button {
    font-size: 10px;
    padding: 5px 5px;
  }

  .my-orders-order .preco {
    font-size: 20px;
    padding-left: 20px;
  }

  .my-orders-order .preco .preco-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 550px) {
  .my-orders {
    padding: 0 20px;
  }

  .my-orders-order {
    padding: 5px 10px;
    grid-template-columns: 1fr 2fr 2fr;
    column-gap: 8px;
    row-gap: 5px;
    font-size: 10px;
  }

  .my-orders-order button {
    font-size: 10px;
    padding: 5px 5px;
  }

  .my-orders-order .preco {
    font-size: 15px;
    padding-left: 20px;
  }

  .my-orders-order .preco .preco-text {
    font-size: 10px;
  }

  .my-orders-order img {
    width: 40px;
  }

  .produtos {
  max-height: 45px;
}

.skeleton-img {
  width: 40px;
  height: 55px;
}

.skeleton-text-line {
  height: 20px;
  background-color: #ddd;
  border-radius: 4px;
  margin: 5px 0;
}
}
