.food-display{
    margin-top: 30px;
    padding: 0 50px;
}

.food-display h2{
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    margin-top: 30px;
    row-gap: 50px;
}

@media (max-width: 768px) {
    .food-display {
        padding: 0 35px;
    }

    .food-display h2 {
        font-size: 22px;
    }

    .food-display-list {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 25px;
        row-gap: 40px;
    }
}


@media (max-width: 550px) {

    .food-display h2{
        font-size: 20px;
    }

    .food-display{
        margin-top: 30px;
        padding: 0 25px;
    }
    
   .food-display-list{
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
   }
}

