.header{
    height: 400px;
    width: 100%;
    max-width: 1322px;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 60px;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: #505050;
    font-size: max(4.5vw, 22px);
}

.header-contents p{
    color: #505050;
    font-size: 1vw;
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 600;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.header-contents button:hover{
    background-color: #11BB25;
    color: white;
}

@media (max-width: 768px) {
    .header {
        height: 250px;
        padding: 0 20px;
        max-width: 100%;
    }

    .header-contents {
        max-width: 100%;
        left: 5%;
        gap: 10px;
    }

    .header-contents h2 {
        font-size: 24px;
    }

    .header-contents p {
        font-size: 12px;
    }

    .header-contents button {
        padding: 10px 20px;
        font-size: 14px;
    }
}


@media (max-width: 480px){
    .header{
    height: 200px;
    width: 100%;
    margin: 10px auto;
    border-radius: 10;
    max-width: 95%;
    box-sizing: border-box;
}
    

    .header-contents p{
        display: none;
    }

    .header-contents h2{
        font-size: 20px;
    }

    .header-contents button{
        font-size: 10px;
    }
}