.navbar{
    padding: 10px 0;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.navbar .logo{
    width: 100px;
}

.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 40px;
    color: #49557e;
    font-size: 15px;
    cursor: pointer;
}

.navbar-direita{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.navbar-direita img{
    width: 27px;
    cursor: pointer;
}

.navbar-search-icon img{
    padding-top: 4px;
    width: 32px;
    cursor: pointer;
}

.navbar button{
    background: transparent;
    font-size: 15px;
    color: #49557e;
    border: 1px solid #ffad00;
    padding: 5px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #fff4f2;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #11BB25;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #11BB25;
    border-radius: 5px;
    top: -2px;
    right: -4px;
}

@media (max-width: 480px) {

    .navbar {
        justify-content: space-between; /* afasta mais os elementos */
        padding: 10px 15px 5px;
    }

    .navbar-menu{
        display: none;
    }

    .navbar .logo{
        width: 90px;
        padding-left: 10px;
    }

    .navbar-direita{
        gap: 14px;
    }
    
    .navbar-direita img{
        width: 20px;
    }

    .navbar-search-icon img {
        width: 24px;
    }

    .navbar button{
        font-size: 12px;
        padding: 6px 12px;
    }


  }