.carrinho{
    margin-top: 40px;
    padding: 0 100px;
    min-height: 80vh;
}

.carrinho-titulo{
    margin-bottom: 20px;
}

.items-carrinho-titulo{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: 12px;
}

.items-carrinho-item{
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.items-carrinho-item img{
    width: 80px;
    border-radius: 10px;
}

.carrinho hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.items-carrinho-item .cross{
    cursor: pointer;
    font-weight: 800;
}

.carrinho-vazio{
    text-align: center;
    margin: 100px auto;
    padding: 10px 20px;
}

.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.cart-total{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-total hr{
    height: 1px;
    margin: 10px 0;
}

.cart-total button{
    border: none;
    color: white;
    background-color:#11BB25;
    max-width: 200px;
    width: 100%;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}

.cart-promocode{
    flex:1;
    padding-left: 50px;
}

.cart-promocode p{
    color: #555;
}

.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}

.cart-promocode-input input{
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 4px;
}

.cart-promocode-input button{
    max-width: 150px;
    width: 100%;
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .carrinho{
        margin-top: 50px;
        padding: 0 60px;
    }

    .items-carrinho-titulo{
        font-size: 15px;
    }

    .items-carrinho-item{
        margin: 8px 0;
    }
    
    .cart-bottom{
        flex-direction: column-reverse;
        margin-top: 40px;
    }

    .cart-promocode{
        justify-content: start;
        padding-left: 0;
    }

}


@media (max-width: 550px) {
    .carrinho{
        margin-top: 25px;
        padding: 0 20px;
    }

    .items-carrinho-titulo{
        font-size: 12px;
    }

    .items-carrinho-item{
        margin: 10px 0;
        display: grid;
        grid-template-columns: 0.8fr 1fr 0.5fr 0.8fr 0.5fr;
        justify-content: start;
    }
    
    .items-carrinho-item img{
        width: 40px;
    }

    .items-carrinho-titulo{
        grid-template-columns: 0.8fr 1fr 0.5fr 0.8fr 0.5fr;
    }

    .items-carrinho .preco{
        display: none;
    }

    .items-carrinho-item .preco{
        display: none;
    }

    .carrinho-vazio{
        text-align: center;
        margin: 50px auto;
        padding: 10px 10px;
    }

    .nome-produto {
        font-size: 12px;
        max-width: 80px;
        padding-right: 10px;
      }

      .items-carrinho-item .cross{
        padding-left: 10px;
    }
}
