*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}


@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }	
}

@media (max-width: 750px) {
  .app{
    padding: 0px 25px;
  }

  .root{
    max-width: 750px;
  }
}

@media (min-width: 750px) {
  .app{
    width: 80%;
    margin: auto;
  }
}