*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app{
  padding: 0px 40px 0px 40px;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}


@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }	
}

@media (max-width: 480px) {
  .app{
    padding: 0px 20px 0px 20px;
  }
}